Package: jjmpc
Version: 0.01
Section: misc
Priority: optional
Architecture: all
Maintainer: glreno <46288004+glreno@users.noreply.github.com>
Description: Joypad controlled MPD client
Distribution: development
Depends: mpd, mpc, openjdk-8-jdk-headless
